asgiref==3.7.2
black==24.2.0
click==8.1.7
debugpy==1.8.1
Django==3.2.4
django-dynamic-raw-id==3.0
djangorestframework==3.14.0
jsonpickle==3.0.3
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
psycopg2==2.9.9
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0